/* General style */

body { background-color: #fff; }

.chip { margin-bottom: 5px; }

.no-margin-bottom { margin-bottom: 0; }

h1.header {
  font-size: 50px;
  line-height: 70px; }

/* Navbar */

nav a,
nav ul a,
nav .brand-logo { color: #6d4c41 !important; }

/* Header section */

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto; }
  .parallax-container .section { width: 100%; }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section { top: 10%; }
}

@media only screen and (max-width : 600px) {
  #index-banner .section { top: 0; }
}

/* About section */

#about {}
  #about #about-img-wrapper { padding: 35px 0 25px 35px; }

@media only screen and (max-width: 601px) {
  #about .content { text-align: center; }
}

/* Experience section */

#experience { background-color: #eee; }
  #experience .content {
  margin-top: 50px;
  text-align: center; }

section.timeline-outer { margin: 0 auto; }

.timeline {
  border-left: 8px solid #6d4c41;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
  background-color: white; }
  .timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative; }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0; }
  .timeline .event:before {
    left: -177.5px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    font-size: 16px;
    min-width: 120px; }
  .timeline .event:after {
    box-shadow: 0 0 0 8px #6d4c41;
    left: -30px;
    background: #fff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px; }

@media (max-width: 992px) {
  .timeline .event::before {
    left: 0.5px;
    top: 57px;
    min-width: 0;
    font-size: 13px; }
  .timeline h3 { font-size: 16px; }
  .timeline p { padding-top: 20px; }

  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px }
}

@media (max-width: 329px) {
  .timeline .event:nth-child(3)::before { top: 81px; }
}

@media (max-width: 345px) {
  .timeline .event:nth-child(2)::before { top: 81px; }
}

/* Skills section */

#skills .col { margin-bottom: 30px; }
  #skills i { color: #6d4c41; }

/* Footer */

footer .links i { margin: 20px 5px 5px 5px;}
