/* Mixins */

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

@mixin transition($effect, $duration, $time) {
  -webkit-transition: $effect $duration $time;
  -moz-transition: $effect $duration $time;
  -o-transition: $effect $duration $time;
  transition: $effect $duration $time;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* General style */

body { background-color: #fff; }

.chip { margin-bottom: 5px; }

.no-margin-bottom { margin-bottom: 0; }

.header-h1 {
  font-size: 50px;
  line-height: 70px; }

/* Back to top button */

.cd-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background: #6d4c41 url('../images/top-arrow.svg') no-repeat center 50%;
  border: 1px solid #290b00;
  @include border-radius(30px);
  @include box-shadow(0, 0, 15px, 0, rgba(0,0,0,.5));
  @include transition(opacity, .3s, 0s);
}

.cd-top:hover { opacity: 1; }

.cd-is-visible {
  display: block;
  opacity: 1; }

.cd-fade-out { opacity: .5; }

/* Navbar */

nav a,
nav ul a { color: #6d4c41; }

/* Header section */

.parallax-container {
  height: auto;
  min-height: 480px;
  line-height: 0; }
  .parallax-container .section { width: 100%; }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section { top: 10%; }
}

@media only screen and (max-width : 600px) {
  #index-banner .section { top: 0; }
}

/* About section */

#about-img-wrapper {
  padding: 30px 0;
  text-align: center; }

@media only screen and (max-width: 993px) {
  #about-img-wrapper {
    margin: 10px 0 25px 0;
    padding: 0; }
  #about .content { text-align: center; }
}

/* Experience section */

#experience { background-color: #eee; }
  #experience .content {
  margin-top: 50px;
  text-align: center; }

.timeline-outer { margin: 0 auto; }

.timeline {
  position: relative;
  padding: 20px;
  margin: 50px auto;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: white;
  border-left: 8px solid #6d4c41;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); }
  .timeline .event {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(236, 236, 236); }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    top: 0;
    display: block; }
  .timeline .event:before {
    left: -177.5px;
    min-width: 120px;
    font-size: 16px;
    color: #212121;
    text-align: right;
    content: attr(data-date); }
  .timeline .event:after {
    top: 5px;
    left: -30px;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    content: "";
    box-shadow: 0 0 0 8px #6d4c41; }

@media (max-width: 992px) {
  .timeline .event::before {
    left: 0.5px;
    top: 57px;
    min-width: 0;
    font-size: 13px; }
  .timeline h3 { font-size: 16px; }
  .timeline p { padding-top: 20px; }
}

@media (max-width: 329px) {
  .timeline .event:nth-child(4)::before { top: 81px; }
}

@media (max-width: 345px) {
  .timeline .event:nth-child(3)::before { top: 81px; }
}

/* Skills section */

#skills .col { margin-bottom: 30px; }
  #skills i { color: #6d4c41; }

/* Footer */

footer .links { text-align: left; }
  footer .links i { margin: 20px 5px 5px 5px;}

@media only screen and (min-width: 993px) {
  footer .links { text-align: right; }
}
